.login-btn {
    color: #ffd700;
    font-size: 12px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #115173;
    float: left;
    border-radius: 4px;
    text-transform: uppercase;
    float: right;
    text-align: center;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.redirect{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button:hover {
        color: #115173;
        background: yellow;
}
.login-div > input {
      border: 1px solid white;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
      margin-bottom: 20px;
     
    }
     @media only screen and (max-width:600px) {

      .login-div > input{ width: fit-content;
        margin:0 auto ;}
      }
    .register-btn {
        color: #115173;
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 4px 5px;
    border: 1px solid #115173;
    float: left;
    border-radius: 4px;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-top:0
    }
    .newUser {
        flex: 4;
      }
      
      form {
        display: flex;
        flex-wrap: wrap;
      }

      .login-form > input{
        margin-top: 10px;
      }
      
      input {
        height: 20px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
      }
      
      
      .newUserGender>label{
          margin: 10px;
          font-size: 18px;
          color: #555;
      }
      
      .newUserSelect{
          height: 40px;
          border-radius: 5px;
      }
      
      